acrticl.wrapper
	.contactPage.grid
		.contactPlace.grid
			.name.grid
				span name
			.email.grid
				span email
			.text.grid
				span text
			.btn отправить
		.contactWork.grid
			p наш офис
			span email: info@emmanuil.tv
			span тел: +38 044 205 55 22
			br
			p линия доверия
			span Украина: 0 800 50 77 50
			span Украина: 0 800 50 77 50
			span Украина: 0 800 50 77 50
			span Украина: 0 800 50 77 50
