article.wrapper
	.homeAboutUs.grid
		h2 о нас
		.textAboutUs
			p Ассоциация “Еммануил” ⎼ 	международная общественная 	организация, которая борется с 	негативными социальными явлениями 	и создает духовно-просветительский 	видеоконтент с целью 	распространения идей милосердия, 	благотворительности и 	добропорядочности.

			p Ассоциация является 	представителем The Christian 	Broadcasting Network (CBN) на 	территории Восточной Европы и 	Центральной Азии.

			p Ассоциация «Еммануил» существует 	благодаря поддержке международных 	организаций-доноров и сети 	партнеров из Украины, России, США 	и других стран. С 1991 года 	организацию возглавляет Стивен Пол 	Вебер, президент и почетный 	руководитель.

			a(href="aboutUsFullPage.html")
				span Подробнее...
		.photoAboutUs
			img(src="img/steve.jpg", alt="")


