article
	.homeAchievments.grid
		h2 достижения
		.homeAchievmentsContainer.grid
			.wrapper
				.homeAchievmentsCounter.grid
					.block.grid
						h5 бенефициары
						span.counter-value(data-count='1712569')
					.block.grid
						h5 программы
						span.counter-value(data-count='801511')
					.block.grid
						h5 косультации
						span.counter-value(data-count='1500')
		.homeAchievmentsDonateContainer.grid
			.wrapper
				.homeAchievmentsDonate.grid
					.homeTextAchievments
						span Богу не нужен твой дар, но тебе нужно давать. В этом есть благословение и финансовая стабильность.
						span Библия говорит: “Занимаясь благотворительностью, ты даешь взаймы Господу”.
						br
						br
						span Стив Вебер,
						br
						span Президент Ассоциации «Еммануил»
					.btn-large.pulse пожертвовать
