footer.grid
	.wrapper
		.footer.grid
			.footerContact.grid
				h5 контакты
				span.contactColOne адрес:
				span.contactColTwo г.Киев, ул. Б.Васильковская 131-А
				span.contactColOne тел:
				span.contactColTwo +38 (044) 205 55 22
				span.contactColOne email:
				span.contactColTwo info@emmanuil.tv
			.hr.one
			.footerSubscribe.grid
				h5 подписаться на новости
				.subscribe.grid
					.far.fa-user-circle
					.text.name
						span name
				.subscribe.grid
					.far.fa-envelope
					.text.email
						span email
				.btn.grid отправить
			.hr.two
			.footerOther.grid
				h5 разное
				.fas.fa-exclamation
				span Персональные данны
				.fas.fa-exclamation
				span Карта сайта
				.fas.fa-exclamation
				span Политика конфиденциальности
				.footerSocialIcon.grid
					.social.grid.hoverable.z-depth-2
						.fab.fa-facebook-f
					.social.grid.hoverable.z-depth-2
						.fab.fa-youtube
					.social.grid.hoverable.z-depth-2
						.fab.fa-instagram
	.footerBottom.grid
		span @ 2018 Все права защищены
