article
	.homeWhatDoing.grid
		h2 направление деятельности
		.box.grid
			h5 Благотворительность
			.icon
				img(src="img/icon/donation.svg", alt="")
			p Гуманитарная и социальная помощь детям группы риска и взрослым в сложных жизненных обстоятельствах (малоимущим, многодетным семьям, лиц с инвалидностью и преклонного возраста) отдел социальных проектов helpua.org
			.list.grid
				.fas.fa-check
				span Помощь востоку Украины
				.fas.fa-check
				span Обетование сироте

		.box.grid
			h5 Благотворительность
			.icon
				img(src="img/icon/donation.svg", alt="")
			p Гуманитарная и социальная помощь детям группы риска и взрослым в сложных жизненных обстоятельствах (малоимущим, многодетным семьям, лиц с инвалидностью и преклонного возраста) отдел социальных проектов helpua.org
			.list.grid
				.fas.fa-check
				span Помощь востоку Украины
				.fas.fa-check
				span Обетование сироте
		.box.grid
			h5 Благотворительность
			.icon
				img(src="img/icon/donation.svg", alt="")
			p Гуманитарная и социальная помощь детям группы риска и взрослым в сложных жизненных обстоятельствах (малоимущим, многодетным семьям, лиц с инвалидностью и преклонного возраста) отдел социальных проектов helpua.org
			.list.grid
				.fas.fa-check
				span Помощь востоку Украины
				.fas.fa-check
				span Обетование сироте
		.box.grid
			h5 Благотворительность
			.icon
				img(src="img/icon/donation.svg", alt="")
			p Гуманитарная и социальная помощь детям группы риска и взрослым в сложных жизненных обстоятельствах (малоимущим, многодетным семьям, лиц с инвалидностью и преклонного возраста) отдел социальных проектов helpua.org
			.list.grid
				.fas.fa-check
				span Помощь востоку Украины
				.fas.fa-check
				span Обетование сироте
