articl.actualBackground.grid
	.wrapper
		h2 актуальная нужда
		.actual.grid
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nemo adipisci quisquam tenetur cumque, culpa illo fugiat natus laborum quia amet sapiente incidunt animi vel accusamus consectetur doloribus! Voluptates sequi ex temporibus soluta, cum doloribus illo facere. Veniam corporis laborum nihil tenetur consectetur ipsam similique debitis sint dolorem soluta eveniet officia, in quo eaque ex praesentium doloribus accusantium, possimus unde necessitatibus magni nostrum quibusdam voluptatum hic? Iste alias, molestias architecto fugiat eum dolorum error praesentium ipsam ratione? Cupiditate, delectus beatae debitis quibusdam deserunt quasi soluta reiciendis impedit. Eveniet hic fugit, voluptatibus maiores repellendus, at expedita illum fuga totam commodi alias inventore officia voluptate delectus quia fugiat, dicta ex unde repellat exercitationem! Magni sed voluptatem eum quam voluptatibus inventore, doloremque doloribus nihil, accusantium sapiente beatae numquam autem quas repellat, dolores officia aspernatur!
			.img
				img(src="img/actual.JPG", alt="")
		.btn-large пожертвовать


