article.wrapper
	.doingBlockWrapper.grid
		.doingBlock
			.counter.grid
				span 5500
			.text
				span Свыше 5500 человек получили медпомощь
		.doingBlock
			.counter
				span 23
			.text
				span Куплено и восстановлено 23 дома
		.doingBlock
			.counter
				span 100 тыс
			.text
				span Роздано около 100 тыс. продуктовых наборов
		.doingBlock
			.counter
				span 13
			.text
				span Пробурено 13 артезианских скважин