article.wrapper
	.homeAboutUs.grid
		h2 о проекте
		.textAboutUs
			p Отдел социальных проектов предоставляет гуманитарную и медицинскую помощь и восстановление инфраструктуры в зоне проведения АТО в восточной Украине.

			p Мы помогаем уязвимым слоям населения: детям, одиноким матерям, людям пожилого возраста.

			p Наша работа осуществляется через 31 миссионерско-волонтерский центр в прифронтовых городах Донецкой и Луганской обл., в которых трудятся около 100 миссионеров.
			i Руководитель проекта Кучер Галина Юрьевна
			span Подробнее...
		.photoAboutUs
			img(src="img/team_galina_kucher.png", alt="")