article.wrapper
	.projectaccordeon.grid
		ul.collapsible
			li
				.collapsible-header.active
					span Гуманитарная помощь
				.collapsible-body
					p С началом военных действий на Востоке Украины, многие люди оказались на грани выживания. С целью поддержки нуждающихся в прифронтовых городах и поселках Донбасса мы организовываем регулярную гуманитарную помощь: одежда, обувь, мебель и необходимая аппаратура для местных больниц, тепловые установки (твердотопливные котлы, буржуйки) и топливо (дрова, топливные брикеты) для гражданского населения, чье жилье осталось без отопления вследствие военных действий.
					.img
						img(src="img/project1.JPG", alt="")
					.img
						img(src="img/project2.JPG", alt="")
					p С началом военных действий на Востоке Украины, многие люди оказались на грани выживания. С целью поддержки нуждающихся в прифронтовых городах и поселках Донбасса мы организовываем регулярную гуманитарную помощь: одежда, обувь, мебель и необходимая аппаратура для местных больниц, тепловые установки (твердотопливные котлы, буржуйки) и топливо (дрова, топливные брикеты) для гражданского населения, чье жилье осталось без отопления вследствие военных действий.


			li
				.collapsible-header
					span Продовольственная программа
				.collapsible-body
			li
				.collapsible-header
					span Медицинская помощь
				.collapsible-body
			li
				.collapsible-header
					span Восстановление инфраструктуры и домов
				.collapsible-body
			li
				.collapsible-header
					span Церкви и миссии
				.collapsible-body