articl.wrapper
	.blogPage.grid
		.blogWithImg.grid
			.article.grid
				.img
					img(src="../img/blog.jpg", alt="")
				.text
					h5 название статьи
					p Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus
					a(href="#")
						span Подробнее
			.article.grid
				.img
					img(src="../img/blog2.jpg", alt="")
				.text
					h5 название статьи
					p Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus
					a(href="#")
						span Подробнее
			.article.grid
				.img
					img(src="../img/blog3.jpg", alt="")
				.text
					h5 название статьи
					p Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus
					a(href="#")
						span Подробнее
		sidebar.sidebar.grid
			.search
				span поиск
			.categori
				h5 категории
				.categoribox
					span Семья
					.numer
						span 10
				.categoribox
					span Правильное питание
					.numer
						span 5
				.categoribox
					span Бог и Религия
					.numer
						span 3
				.categoribox
					span Цероквь
					.numer
						span 38
				.categoribox
					span Отношения с родителями
					.numer
						span 10
			.popular
				h5 популярные
				.popularbox
					.img
						img(src="../img/blog.jpg", alt="")
					.text
						span Хлеб всему голова
						.date
							span Июнь 28, 2018
				.popularbox
					.img
						img(src="../img/blog2.jpg", alt="")
					.text
						span Прогулки осенью
						.date
							span Июнь 28, 2018
				.popularbox
					.img
						img(src="../img/blog3.jpg", alt="")
					.text
						span Спасение пришло
						.date
							span Июнь 28, 2018
			.new
				h5 новые
				.newbox
					.icon
						.fas.fa-angle-right
					.text
						span Тестовая запись
						.date
							span Июнь 28, 2018
				.newbox
					.icon
						.fas.fa-angle-right
					.text
						span Тестовая запись
						.date
							span Июнь 28, 2018
				.newbox
					.icon
						.fas.fa-angle-right
					.text
						span Тестовая запись
						.date
							span Июнь 28, 2018
				.newbox
					.icon
						.fas.fa-angle-right
					.text
						span Тестовая запись
						.date
							span Июнь 28, 2018