article.wrapper
	.aboutUsFullPage.grid
		.topbox.grid
			.img.grid
				img(src="../img/steve.jpg", alt="")
				.aboutSteve
					span Стив Вебер,
					br
					span Президент Ассоциации «Еммануил»
			.text
				p Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla quis lorem ut libero malesuada feugiat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Sed porttitor lectus nibh. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla quis lorem ut libero malesuada feugiat. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit.
				p Cras ultricies ligula sed magna dictum porta. Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit tortor eget felis porttitor volutpat. Cras ultricies ligula sed magna dictum porta. Curabitur aliquet quam id dui posuere blandit. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id orci porta dapibus.

		.hr.grid
		.centerbox.grid
			h2 наша история
			p Май 1990 г. В эфире ТРК “Останкино” (г. Москва, Россия) начался регулярный показ 2 программ CBN.
			p Октябрь 1991 г. Основаны региональные офисы CBN в г. Москва, Россия, и г. Киев, Украина.
			p Сентябрь 1992 г. Зарегистрирована Международная общественная организация “Ассоциация милосердия “Еммануил”, официальный представитель CBN в странах бывшего СССР.
			p Октябрь 1992 г. Получены первые контейнеры с гуманитарными грузами. Начало работы гуманитарного отдела.
			p Октябрь 1992 г. Адаптация христианской видеопродукции на языки народов стран бывшего СССР.
			p 1994 г. Открыто представительство CBN в г. Алматы, Казахстан.
			p 1994 г. Начало работы концертного отдела.
			p 1995 г. Открыто издательство “Лепта”, г. Киев, Украина.
			p 1996 г. Начало производства телепрограммы “Клуб Суперкниги”, ТРК “Еммануил” г. Киев, Украина, и  трансляция на национальном канале УТ-1.
			p 1996 г. В Киев приехал “Летающий госпиталь” от организации “Операция благословение”, партнера CBN.
			p 1997 г. Начало гуманитарной деятельности в Казахстане.
			p 1998 г. Создание первого в СНГ христианского музыкального 		     интернет-портала emmanuel.org.ua
			p 1998 г. Дублирование телепрограммы “Клуб 700”
			p Декабрь 1998 г. Гуманитарный проект “Благотворительные столовые”
			p 2000 г. Создана программа “Видение. Стратегия. Ресурсы” для развития поместных церквей. Институт лидерства для религиозных организаций
			p 2002 г. Открытие студии для телепроизводства в главном офисе CBN в Киеве
			p Май 2002 г. Открытие телефона доверия “Доброе слово” для 		круглосуточной бесплатной поддержки в Украине
			p 2003 г. Начало проведения бесплатных выездных медицинских обследований в отдаленных регионах, Украина
			p 2004 г. Открытие проекта “Дар усыновления”
			p 2005 г. Открытие музыкальной духовно-просветительской радиостанции “Еммануил”
			p Сентябрь 2005 г. Открытие учебного центра “Школа жизни” в г. Киев, Украина
			p 2006 г. Открытие круглосуточной бесплатной поддержки на линии доверия “ДОброе слово” в России
			p 2008 poiskboga.com
			p 2011 video.emmanuil.tv
			p 2013 antiporno.tv
			p 2014 г Начало деятельности отдела социальных проектов HelpUA на востоке Украины в зоне проведения АТО
			p Июль 2015 г. Открытие сайта линии доверия “Доброе слово” для   консультирования в чате и по имейлу
		.hr.grid
		.buttombox.grid
			h2 награды
			p 1 Украинский конкурс телевидения “Золотая эра”, 1997 г.
			p Национальная премия Украины в сфере телевидения “Телетриумф”, 2000 г.
			p 3 Всеукраинский конкурс программ региональных телерадиоорганизаций “Украина единая”, 2001 г.
			p Конкурс “Телефорум”, 2001 г.
			p 1 Открытый телефорум для детей и молодежи “Вместе к звездам”, 2002 г.
			p 4 Всеукраинский конкурс программ региональных телерадиоорганизаций “Украина единая”, 2002 г.
			p Приз зрительских симпатий во Всеукраинском конкурсе детских фильмов и телерадиопрограмм “Хрустальные источники”, 2003 г.
			p 6 Евразийский телефорум, 2003 г.
			p Всеукраинский фестиваль-тренинг производителей детских и молодежных программ “Будем вместе”, 2004 г.
			p 5 Ежегодная премия Нацсовета Украины по вопросам телевидения и радиовещания “Телетриумф”, 2004 г.
			p Всеукраинский фестиваль-тренинг производителей детских и молодежных программ “Будем вместе”, 2006 г.
			p Национальная телевизионная премия “Телетриумф”, 2012 г.
			p Национальная телевизионная премия “Телетриумф”, 2015 г.
			p Национальный конкурс “Благотворительная Украина-2017”,  “Региональная благотворительность”, 2018 г.