article.wrapper
	.knoweMore.grid
		h2 узнать больше
		.knoweMoreBox.grid
			.fas.fa-check
			a(href="#") orphanspromise.org
		.knoweMoreBox.grid
			.fas.fa-check
			a(href="#") facebook
		.knoweMoreBox.grid
			.fas.fa-check
			a(href="#") youtube