article.wrapper
	.homeAboutUs.grid
		h2 о проекте
		.textAboutUs
			p Детский проект CBN, направленный на заботу о сиротах и детях группы риска, социально уязвимых семьях для создания сильного и стабильного общества.

			p «Обетование сироте» с Божьей помощью стремится удовлетворить эмоциональные, интеллектуальные, физические, социальные и духовные потребности социально незащищенных детей, чтобы помочь им реализовать себя в жизни.

			p Мы помогаем социально незащищенным детям реализовать свой потенциал, поддерживаем семьи, организовываем наставничество для детей, которые не могут воспитываться в семейном окружении.

			i Руководитель проекта "Обетование сироте" Ольга Бузнацкая
			span Подробнее...
		.photoAboutUs
			img(src="img/buznitska.png", alt="")