article.wrapper
	.doingBlockWrapper.grid
		.doingBlock
			.counter.grid
				span 10
			.text
				span Лет помощи в рамках деятельности проекта
		.doingBlock
			.counter
				span 36
			.text
				span Проектов в Украине
		.doingBlock
			.counter
				span 19
			.text
				span Учебных центров
		.doingBlock
			.counter
				span 29
			.text
				span Локаций для едневного обеспечения едой