article.wrapper
	.projectaccordeon.grid
		ul.collapsible
			li
				.collapsible-header.active
					span Питание
				.collapsible-body
					p «Если вы не можете накормить сто человек, накормите одного»	Мать Тереза. Когда мы открыли образовательные центры, то поняли, что многие дети не могут сосредоточиться на обучении из-за постоянного недоедания. Мы начали их кормить – и увидели фантастические результаты.

					.img
						img(src="img/orfins1.JPG", alt="")
					.img
						img(src="img/orfins2.JPG", alt="")
					p Большое количество детей, которые ранее считались детьми с особыми потребностями или с задержкой развития, стали одними из лучших учеников, как только начали получать правильное питание. Сбалансирование питание является одним из самых важных факторов на пути ребенка к достижению успеха. Дети с нетерпением ждут прихода в наши центры  не только, чтобы учиться, общаться, заводить новых друзей, но и есть.



			li
				.collapsible-header
					span Образование
				.collapsible-body
			li
				.collapsible-header
					span Адаптационные центры
				.collapsible-body
			li
				.collapsible-header
					span Дома для одиноких матерей
				.collapsible-body
			li
				.collapsible-header
					span Комплексное развитие общества
				.collapsible-body